@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
*
{
font-family:Poppins,"Rethink Sans", sans-serif;
}
@media (max-width: 767px) 
{
    .navbar
    {
        background-color: #2d2336;
    }
    .nav>li>.btn
    {
        background-color: red;
    }
    .nav>li>.btn:hover
    {
        background-color: white;
        color:#2d2336;
        transition: all 1.1s ease;
        font-weight: 500;
    }
    .navbar-brand 
    {
        color:red !important;
    }
    .navbar-brand span
    {
        color: white !important;
    }
    .flex-row {
        display: flex;
        flex-direction:column; /* Default: stack columns vertically */
    }
    .first-div {
        order: 2; /* Move first div to the end */
        text-align: center;
        margin-top: 20px;
    }
    .second-div {
        order:1; /* Move second div to the start */
    }
    main .container .second-div .card .rotate-img
    {
     display:none !important;
    }
    main .about .b-content .icon-git,
    main .about .b-content .icon-js,
    main .about .b-content .icon-vs{
     display:none !important;



 }

}
@media (min-width: 768px) 
{
       .navbar-default
        {
   
        border: none;
        box-shadow: -5px -5px 3px 4px rgb(237, 240, 244) !important;
        background-color: rgba(140, 136, 136, 0.2)!important; 
        backdrop-filter: blur(8px)!important;
        -webkit-backdrop-filter: blur(12px)!important; 
        }
      .box 
       {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .navbar-brand 
        {
            font-size: 1.8em;
            font-weight: 500;
            text-shadow: 1px 0px 2px black;
            color:#2d2336!important;
            text-shadow: 1px 0px 2px black;
         }
         .nav>li>.btn
        {
            background-color: #2d2336;
        } 
         .nav>li>.btn:hover
        {
            transition:all 1.9s ease;
            background-color:red;
            border: none;
            outline: none;
            font-weight: 400;  
        }   
        .flex-row 
        {
         flex-direction:row; /* Default: stack columns vertically */
        }
        main .container .second-div .card .rotate-img{
            display: block;
            position: absolute;
            bottom: -80px;
            left: -25px;
            animation: rotate 15s linear infinite reverse;

        }

}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .retate {
    animation: rotate 15s linear infinite reverse;
  }
.nav>li
{
    gap: 20px;
    padding:0;
    font-weight: 500;
}
.nav>li>.btn
{
        padding: var(--padding, 2px 20px);
         border: none;
        line-height: 40px;
        border-radius: 20px;
      color: white;    
}
.navbar-default .navbar-nav>.active>a
{
background-color:unset;
color: white;
}
.navbar-default .navbar-nav>.active>a:hover
{
background-color:unset;
}
.navbar-default .navbar-nav>li>a
{
 color: white;
transition:all 1s ease;
text-shadow: 2px 2px 3px#2d2336;
}
.nav>li>a 
{
    padding:10px 13px;
}
.navbar-default .navbar-nav a:hover
{
color: red !important;
}
.navbar-brand span
{
color: red;
}
.navbar-default .navbar-toggle
{
    background-color:#2d2336!important;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: white;
    width: 38px; 
}
.navbar-default .navbar-toggle:hover
{
background-color: #2d2336 !important;
border: none;
}
.navbar-default .navbar-toggle
{
border: none;
background-color: #2d2336;
}
.container-fluid>.navbar-collapse
{
padding-left: 30px;
}
main .content
{
min-height: 100vh;
background-image: url(../img/hero-bg.jpg);
width: 100vw;
background-repeat:no-repeat;
background-position: center;
padding-top:140px;
}
main .content .container p
{
    color: white;
}
main .container span
{
    color:#2d2336;
    font-size: 1.5em;
    font-weight: 600;
}
main .container h2
,main .container h3
{
    font-size:3em;
    color: white;
    text-shadow: 3px 2px 4px#2d2336;
}
main .container h3
{
    font-size: 2em;
}
main .container p
{
    text-shadow: 2px 2px 3px#2d2336;
    font-size: 1.1em;
}

main .container .btn
{
        border: none;
        height:45px;
        width: 100px;
        border-radius: 20px;
        color: white;
        transition:all 1.1s ease;
        width: 150px;
        outline: none;
        border: none;
        background-color: #2d2336;
        font-weight: 500;    
}
main .container .btn:hover
{
    background-color:red;
}
main .container .first-div a
{
    color:#2d2336;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 30px;
    text-shadow: 2px 2px 3px rgb(120, 173, 183);
    text-decoration: none;
    
}

main .container .second-div .card
{
    height: 100%;
    width:100%;
    border-radius: 4px;
    position: relative; 
}
main .container .second-div .card .personal-img{
    display: block;
    margin: auto;
   height: 100%;
   width: 80%;
   border-radius: 4px;
}
main .about{
    padding-top: 40px;
    width: 100vw;
    background-color: #2d2336;
}
main .about .item-main{
     position: relative;
}
main .about .b-content,
main .about .b-text{
    width: 90%;
    /* height:70vh; i need to remove this after setting the main stuctrer */
    margin:20px auto;
}
main .about .b-content img{
    height:100%;
    width: 100%;
    border-radius:9px;
    /* box-shadow: 1px 1px 1px 5px #2d2336; */
}
main .about .b-content .icon-git,
main .about .b-content .icon-js,
main .about .b-content .icon-vs{
    height:100px;
    width: 100px;
    border-radius:13px;
    display: flex ;
    justify-content: center  ;
    align-items: center;
}
main .about .b-content .icon-git{
    position: absolute;
    left: 33px;
    top: 160px;
    background-color: rgb(218, 86, 19);
}
main .about .b-content .icon-vs{
    position: absolute;
    left:550px;
    top:100px;
    background-color: rgb(60, 126, 189);
}
main .about .b-content .icon-js{
    position: absolute;
    left: 246px;
    top: -53px;
    background-color: rgb(231, 231, 20);
}
main .about .b-content .item img{
    height: 50%;
    width: 50%;
}
main .about .b-text .p-1{
    text-transform: capitalize;
    text-align: center;
    color: red;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 1px 1px 2px #2d2336;
}
main .about .b-text h2{
font-size: 2.5em;
line-height: 30px;
padding:0px 15px 30px 15px;
text-shadow: 1px 1px 2px #d12b0e;
color: white;
font-weight: 200;

}
main .about .b-text .p-2{
    /* text-align: center; */
    font-size: 1.2em;
    line-height:30px;
    color: white;
    text-shadow: 1px 1px 2px #2d2336;
    font-weight: 200;
    padding: 0 10px;
}

